@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  width: 100%;
  padding: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-size: 45px;
  > span:first-of-type {
    font-weight: 100;
    span {
      color: rgba(255, 255, 255, 0.7);
    }
  }
  > span:nth-of-type(2) {
    color: #6b6b94;
  }
  .header-logo {
    padding-left: 10px;
    display: none;
  }
}

.search {
  display: flex;
  place-content: center;
}

.content {
  margin-top: 20px;
  font-family: "Kanit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-empty {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    font-weight: 200;
  }
  &-didyoumean {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    font-weight: 200;
    span {
      color: #6b6b94;
      font-weight: 700;
    }
  }
  &-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__city {
      text-transform: uppercase;
      font-size: 30px;
      font-style: italic;
      font-weight: 200;
      color: white;
    }
    &__state {
      text-transform: uppercase;
      font-weight: 200;
      font-size: 15px;
      letter-spacing: 0.5px;
      color: rgba(255, 255, 255, 0.47);
    }
  }
  &-data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &__temp {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__description {
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.47);
        font-weight: 200;
      }
      &__info {
        font-size: 40px;
        font-weight: 200;
      }
    }
    &__icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 200;
      text-transform: uppercase;
      font-style: italic;
      color: rgba(255, 255, 255, 0.47);
    }
  }
  &-details {
    margin: 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      &-title {
        width: 100px;
        text-transform: uppercase;
        font-weight: 100;
        font-style: italic;
      }
      &-info {
        text-align: right;
        font-weight: 200;
        font-size: 25px;
        display: flex;
        place-items: center;
        gap: 10px;
        img {
          width: 25px;
        }
      }
    }
  }
  &-more {
    margin-top: 20px;
    display: flex;
    place-content: center;
  }
  &-byhours {
    text-transform: uppercase;
    margin: 0 auto;
    &__item {
      display: flex;
      border-bottom: 1px solid #6b6b94;

      &-daybox {
        width: 80px;
        .day {
          display: flex;

          .name {
            width: 35px;
            font-weight: 100;
            font-style: italic;
            font-size: 18px;
          }
          .month {
            width: 55px;
            display: flex;
            gap: 3px;
            font-size: 18px;
            margin: 0 auto;
            span:first-of-type {
              color: #6b6b94;
            }
            span:nth-of-type(2) {
              font-weight: 500;
            }
          }
        }
        .hours {
          display: flex;
          justify-content: space-between;
          .hour {
            // width: 68px;
            margin: 0 auto;
            font-weight: 100;
            transform: scaleX(1.5);
          }
          .ampm {
            width: 22px;
            color: #6b6b94;
          }
        }
        @media screen and (min-width: 700px) {
          width: 170px;
          display: flex;
          .day {
            width: 120px;
            flex-direction: column;
            place-content: center;
            .name {
              width: auto;
              text-align: left;
            }
            .month {
              width: auto;
              margin: 0;
            }
          }
          .hours {
            width: 50px;
            flex-direction: column;
            place-content: center;
            .hour {
              font-size: 22px;
              transform: scaleX(1);
            }
            .ampm {
              font-size: 14px;
              margin: 0 auto;
              transform: scaleX(1.6);
            }
          }
        }
      }
      &-weather {
        margin-left: 5px;
        display: flex;
        place-content: center;
        img {
          height: 45px;
          @media screen and (min-width: 700px) {
            height: 60px;
          }
        }
      }
      &-temp {
        display: flex;
        width: 60px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div:nth-of-type(2) {
          font-weight: 100;
          font-style: italic;
        }
        @media screen and (min-width: 500px) {
          width: 140px;
          div {
            width: 90%;
            display: flex;

            justify-content: space-between;
            span {
              font-style: normal;
            }
          }
        }
      }
      &-windbox {
        text-transform: none;
        width: 60px;
        display: flex;
        flex-direction: column;
        place-content: center;
        > div {
          width: 100%;
          display: flex;
          justify-content: center;
          span {
            font-weight: 100;
          }
        }

        @media screen and (min-width: 600px) {
          width: 150px;
          > div {
            justify-content: space-between;
            > div:first-of-type {
              font-weight: 100;
              text-transform: uppercase;
              font-style: italic;
            }
          }
        }
      }
      &-windarrow {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 25px;
          height: 25px;
        }
      }
      &-other {
        width: 100px;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > div {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          > div:first-of-type {
            font-style: italic;
          }
          > div:nth-of-type(2) {
            font-weight: 300;
            span {
              font-weight: 100;
            }
          }
        }
      }
    }
    &__item:last-of-type {
      border-bottom: none;
    }
  }
}
